{% extends 'base.html' %}
{% block content %}
    <div class="container-detail">
        <h1>Details</h1>
        <img src="{{ property.property_image }}" alt="Property Image" class="property-image">
        <div class="details">
            <p><strong>Name:</strong>{{ property.name }}</p>
            <p><strong>Type:</strong> {{ property.type }}</p>
            <p><strong>Floors:</strong> {{ property.floors }}</p>
            <p><strong>Exposure:</strong> {{ property.exposure }}</p>
            <p><strong>Value:</strong> ${{ property.value }}</p>
            {% if property.parking is not None %}
                <p><strong>Parking:</strong> {{ property.parking }}</p>
            {% else %}
                <p><strong>Parking:</strong> Without parking space</p>
            {% endif %}
            <p><strong>Location:</strong> {{ property.location }}</p>
            <p><strong>Owner:</strong> {{ property.owner.profile }}</p>
            <p><strong>Content:</strong> {{ property.content }}</p>
        </div>
        <div class="actions">
            {% if request.user.pk == property.owner.pk %}
                <a href="{% url 'edit-property' property.pk %}">
                    <button class="btn-edit">Edit</button>
                </a>
                <a href="{% url 'delete-property' property.pk %}">
                    <button class="btn-delete">Delete</button>
                </a>
            {% endif %}
            <form action="{% url 'favourite-listings' %}" method="POST">
                {% csrf_token %}
                {% if property.id in favourite_property %}
                    <button style='background-color: darkred' class="btn-delete">
                        <input type="hidden" name="property_id" value="{{ property.id }}">
                        <div class="inner_button">
                            Remove
                        </div>
                    </button>
                {% else %}
                    <button style='background-color: green' class="btn-delete">
                        <input type="hidden" name="property_id" value="{{ property.id }}">
                        <div class="inner_button">
                            Add
                        </div>
                    </button>
                {% endif %}
            </form>
        </div>
        <div class="comments-section">
            <h2>Comments</h2>
            <div id="comments-list">
                {% for comment in comments %}
                    <div class="comment">
                        <p><strong>{{ comment.user.profile }}:</strong> {{ comment.comment }}</p>
                        <div class="comment-data">
                            <strong>{{ comment.date }}</strong>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if current_user.user_type in 'Buyer Broker' %}
                <form action="{% url "comment" property.pk %}" class="comment-form" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Comment</button>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}