{% extends 'base.html' %}
{% load placeholder %}
{% block content %}
    <div class="form-wrapper">
        <div class="register-container">
            <h2>Create Parking</h2>
            <form method="post">
                <p class="form-error">{{ form.parking_name.errors }}</p>
                <p class="form-label">{{ form.parking_name.label }}</p>
                {{ form.parking_name|placeholder:'Parking Name' }}

                <p class="form-error">{{ form.parking_slots.errors }}</p>
                <p class="form-label">{{ form.parking_slots.label }}</p>
                {{ form.parking_slots|placeholder:'Parking Slots' }}

                <p class="form-error">{{ form.location.errors }}</p>
                <p class="form-label">{{ form.location.label }}</p>
                {{ form.location}}
                {% csrf_token %}
                <button type="submit" class="btn">Create</button>
            </form>
        </div>
    </div>
{% endblock %}