{% extends 'base.html' %}
{% block content %}
    <h1 class="available">Available Properties</h1>
    <form method="get">
        <div class="search-container">
            {{ search_form }}
            <button type="submit">Search</button>
        </div>
    </form>
    <div class="property-container">
        {% for property in properties %}
            <div class="property">
                <img src="{{ property.property_image }}" alt="Apartment 1">
                <div class="property-details">
                    <div class="property-title">{{ property.name }}</div>
                    <div class="property-details">{{ property.content|truncatechars:200 }}</div>

                </div>
                <div style="font-weight: bold;" class="property-details">{{ property.location }}</div>
                <div class="property-price">${{ property.value }}</div>
                <div class="btn-container">
                    <a href="{% url 'detail-property' property.pk %}" class="btn-details">View Details</a>
                </div>
            </div>
        {% empty %}
            <h1 class="unavailable">There are no Available Properties</h1>
        {% endfor %}
    </div>
    <div class="pagination">
             <span class="step-links">
                 {% if page_obj.has_previous %}
                     <a href="?page=1">&laquo; first</a>
                     <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                 {% endif %}
                 <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
             </span>
                 {% if page_obj.has_next %}
                     <a href="?page={{ page_obj.next_page_number }}">next</a>
                     <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                 {% endif %}
             </span>
    </div>
{% endblock %}