{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="inscription">
        <div class="container">
            <h1>Find Your Dream Home</h1>
            <p>Explore listings of beautiful homes, apartments, and commercial spaces across the city.</p>
            <a href="{% url 'properties' %}" class="btn">Browse Listings</a>
        </div>
    </section>
    <section class="featured-listings">
        <div class="container">
            <h2>Exclusive Properties</h2>
            <div class="listing-grid">
                <ul class="listing-properties">
                    {% for property in properties %}
                       {% include 'includes/listing-item.html' %}
                    {% empty %}
                        <h2> There are not any offers</h2>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}