{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex Property</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <a href="{% url 'home' %}">Apex Property</a>
        </div>
        <nav>
            <ul>
                {% if request.user.is_authenticated %}
                    {% if request.user.user_type != "Buyer" %}
                        <li><a href="{% url 'create-location' %}">Create Location</a></li>
                        <li><a href="{% url 'create-parking' %}">Create parking</a></li>
                        <li><a href="{% url 'add-property' %}">Create Properties</a></li>
                    {% endif %}
                    <li><a href="{% url 'properties' %}">All Properties</a></li>
                    {% if request.user.user_type == "Investor" and properties %}
                        <li><a href="{% url 'statistics' %}">Properties statistics</a></li>
                    {% endif %}
                    <li><a href="{% url 'profile-detail' request.user.pk %}">Profile</a></li>
                    <form class='logout' method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="button" type="submit"><i>Logout</i></button>
                    </form>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>


<footer>
    <div class="container">
        <p>&copy; 2024 Apex Property. All rights reserved.</p>
        <div class="social-links">
            <a href="https://www.facebook.com/">Facebook</a> |
            <a href="https://www.instagram.com/">Instagram</a> |
            <a href="https://x.com/home?lang=en">Twitter (X)</a>
        </div>
    </div>
</footer>

</body>
</html>
