{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Application</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <a href="{% url 'home' %}">Real Estate App</a>
        </div>
        <nav>
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="#">Properties</a></li>
                    <li><a href="#">Create Listings</a></li>
                    <li><a href="{% url 'profile-detail' request.user.pk%}">Profile</a></li>
                    <form class='logout' method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="button" type="submit"><i>Logout</i></button>
                    </form>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<!-- Footer Section -->
<footer>
    <div class="container">
        <p>&copy; 2024 RealEstateApp. All rights reserved.</p>
        <div class="social-links">
            <a href="#">Facebook</a> |
            <a href="#">Instagram</a> |
            <a href="#">Twitter</a>
        </div>
    </div>
</footer>

</body>
</html>
